.design {
  width: 100%;
  background-color: #ffffff;
}

.design-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media screen and (max-width: 1200px) {
    gap: 1rem;
  }
}

// Design Time
.design-time {
  border-radius: 70px;
  width: 236px;
  height: 61px;
  border: 1px solid var(--border-primary);
  background-color: #fafafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 5px;

  @media screen and (max-width: 1200px) {
    width: 200px;
    height: 61px;
    order: 1;
  }

  @media screen and (max-width: 992px) {
    width: 100px;
    height: 35px;
  }
}

.time-wrapper {
  width: 226px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media screen and (max-width: 1200px) {
    width: 200px;
    height: 51px;
  }

  @media screen and (max-width: 992px) {
    width: 100px;
    height: 35px;
  }
}

.time-latest {
  background-color: #ffffff;
  width: 107px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: var(--primary);
  font-size: 1em;
  font-weight: 600;
  box-shadow: 0 10px 15px -10px rgba(2, 5, 132, 0.05);

  @media screen and (max-width: 1200px) {
    width: 100px;

  }

  @media screen and (max-width: 992px) {
    font-size: 0.5em;
    width: 45px;
  }
}

.time-popular {
  width: 119px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--primary);
  font-size: 1em;
  font-weight: 600;
  opacity: 0.6;

  @media screen and (max-width: 1200px) {
    width: 80px;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    width: 45px;
    height: 100%;
    font-size: 0.5em
  }
}

// ./ Design Time


//  Design Category Menu Area
.design-category {
  margin-left: 8em;
  width: 352px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    margin: 0;
    width: 100%;
    height: 44px;
  }
}

.design-category li a {
  color: var(--primary);
  opacity: 0.7;
  font-size: 1em;
  font-weight: 500;
}

.design-category li:first-child {
  border-radius: 2em;
  background-color: #fcfcff;
  border: 1px solid #efefff;
  padding: 0.625em 0.938em;
}

.design-category li a.is-active {
  opacity: 1;
}

// ./ Design Category Menu Area 


// Design Tools Area 
.design-tools {
  display: flex;
  gap: 0.938em;
}

.design-tools-item {
  height: 61px;
  width: 61px;
  border-radius: 50%;
  border: 1px solid var(--border-primary);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @media screen and (max-width: 992px) {
    height: 35px;
    width: 35px;

    img {
      width: 50%;
    }
  }

}

.design-tools-item.is-active {
  border: 0.063em solid var(--pink);
}

// ./Desing Tools Area

//  Desing Card Content
.design-card-wrapper {
  padding: 40px 0 59px;
  max-width: 100%;
  margin: 0 auto;

}

.design-card-image {
  position: relative;
}

.design-card-sketch {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 61px;
  height: 61px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  background: #fcfcfc;
  border: 1px solid var(--border-primary);

  @media screen and (max-width: 992px) {
    top: 10px;
    left: 10px;
    width: 45px;
    height: 45px;
  }

  img {
    width: 50%;
    height: 50%;
  }
}

.design-card-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.938em;
}

.design-card-detail {
  padding-top: 1.25em;
  display: flex;
  justify-content: space-between;
}

.card-detail-profile {
  display: flex;
  align-items: center;


  span {
    padding-left: 0.875em;
    color: #000000;
    font-size: 0.875em;
  }

  img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}

.card-detail-count {
  display: flex;
  align-items: center;
  gap: 0.313em;

  img {
    margin-left: 0.938em;
    width: 26px;
    height: 26px;
  }

  span {
    font-weight: 600;
    color: #000000;
    font-size: 0.875em;
  }
}