
:root { 
--darkblue: #202142;
--primary:#000; 
--passive:#ededf9;
--secondary:#ecebf6;
--pink: #d4357d;
--blue:#27b8bf;
--yellow:#ecb332;
--gray:#8a8ba1;
--active:#f1f1fd;
--background:#fcfcff;
--border-primary:#efefff;
--text-font:Poppins;

}

